.dash_board_pagination {
  display: flex;
  justify-content: center;
}
/* tr{
       background-color:  #f5f6f8;
      } */

.listing_space {
  padding: 30px;
}

.listing_border {
  padding: 0;
  border-radius: 11px;
}

.title_name {
  font-size: 20px;
  font-weight: bold;
  color: #419794;
}

.brand_title_name {
  font-size: 20px !important;
  font-weight: bold;
  color: #419794;
  width: 20%;
  border-bottom: 2px solid #ffcf76;
}

.add_button_text {
  font-weight: bold;
  font-family: "Montserrat";
  background-color: var(--white);
  box-shadow: none;
}

.category_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main_title {
  font-size: 20px;
  font-weight: bold;
  color: #419794;
  width: auto;
  border-bottom: 2px solid #ffcf76;
}

.attribute_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main_title {
  font-size: 20px;
  font-weight: bold;
  color: #419794;
  width: 20%;
  border-bottom: 2px solid #ffcf76;
}
.addButton {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.add_title {
  font-size: 20px;
  font-weight: bold;
  color: #419794;
  width: 50% !important;
  border-bottom: 2px solid #ffcf76;
  margin-bottom: 16px;
}

.select_channel_active div {
  padding: 0px 0px 0px 0px !important;
}
.activeProductJson_btn {
  margin-right: 10px !important;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<active Product view css>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.main_title {
  font-size: 24px;
  font-weight: bold;
  color: #419794;
  width: auto;
  border-bottom: 2px solid #ffcf76;
}

.sub_title {
  font-size: 18px;
  font-weight: bold;
  color: #419794;
  width: auto;
}

.addButton {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.add_title {
  font-size: 20px;
  font-weight: bold;
  color: #419794;
  width: 100% !important;
  border-bottom: 2px solid #ffcf76;
  margin-bottom: 16px;
}

.revalidate_Btn {
  display: flex !important;
  justify-content: end !important;
}

.role_based_Text_Field {
  margin-bottom: 10px !important;
}

.productDetailTitle {
  font-style: normal;
  font-family: "Montserrat";
  color: #419794;
  font-size: 23px;
  font-weight: 600;
  border-bottom: 0.5px solid #434343;
  width: 100%;
}

.prodImg {
  width: 20%;
  float: left;
  background-color: blue;
}

.prodDetailsDiv {
  width: 80%;
  float: right;
  /* background-color: red; */
  padding: 10px;
}

.pimCodeId {
  color: #494949;
  font-size: 18px;
  font-weight: 600;
  padding-left: 15px;
  margin-top: 0px !important;
}

.manufacturerDetails {
  font-size: 14px;
  font-weight: 700;
}

.manufacturerDetailData {
  font-size: 14px !important;
  font-weight: 400;
  padding-left: 15px;
}

.manufacturerDetailHead {
  padding-left: 15px;
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #419794;
}
.right_box_details ul li div span {
  font-size: 14px !important;
  font-weight: 400;
  font-family: "Montserrat";
  font-style: "normal";
}
.right_box_details ul li {
  padding: 0px 0px 0px 0px !important;
}
.read_more_href {
  color: black;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.manufactureDiv {
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 0.1%;
  border: 1px solid #adacac;
  margin-top: 1.5rem;
}
.tab_active_master {
  font-weight: 600 !important;
  font-size: 14px;
}


.input_active_master div input{
  font-size: 14px !important;
  padding-top: 1px;
}
.alert_button_active_product{
  margin-top: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<<<>>>>end                                       >>>>>>>>>>>>>>>>>>>>>>>>>> */
