@font-face {
  font-family: Gill-medium;
  src:url(../../../assets/font/Gill\ Sans\ Medium.otf);
}

.dash_board_pagination{
  display: flex;
  justify-content: center;
}
 /* tr{
 background-color:  #f5f6f8;
} */

.listing_space {
  padding: 30px;
}

.listing_border{
  padding: 0;
  border-radius: 11px;
}

.title_name{
  font-size: 20px;
  font-weight: bold;
  color: #419794;
}


.brand_title_name{
  font-size: 20px;
    font-weight: bold;
    color: #399996;
    width: 20%;
    border-bottom: 2px solid #ffcf76;
}

.add_button_text {
  font-weight: bold;
  font-family: Gill-medium;
  background-color: var(--white);
  box-shadow: none; 

}
