.menu_item {
  margin-left: 20px !important;
}

.roots {
  width: "100%";
  max-width: 360;
}

.nesteds {
  padding-left: 20px;
}

.bg_color {
  background-image: linear-gradient(180deg, #ffffff, #c0bea8) !important;
}

.text_menu span {
  cursor: pointer;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.text_sub_menu span {
  font-weight: 700 !important;
  font-size: 14px !important;
}
