.pagination{
  display: flex;
  justify-content: center;
}
 /* tr{
 background-color:  #f5f6f8;
} */

/* product details */
.main_Attri{
  padding-top: 10px;
  margin-left: 30px;
}

.add_button_text {
  font-family: "Gill Sans";
  font-weight: 700;
  /* background-color: var(--white); */
  box-shadow: none; 
  text-decoration: underline;

}
.add_buttons{
  display: flex;
  justify-content: end;
}

/* PD end */