.dash_board_pagination{
  display: flex;
  justify-content: center;
}
 /* tr{
 background-color:  #f5f6f8;
} */


.submitButton {
  display: flex;
  justify-content: center;
}

.addButton {
  display: flex;
  justify-content: end;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main_category{
  padding: 35px;
}

.category_menu_overflow{
  overflow-y: auto;
  max-height: 555px;

}

.title_name{
  font-size: 20px;
    font-weight: bold;
    color: #399996;
    width: 20%;
    border-bottom: 2px solid #ffcf76;
}
