.products_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main_title {
  font-size: 20px !important;
  font-weight: 700 !important;
  color: #399996;
  width: 20%;
  border-bottom: 2px solid #ffcf76;
}

.tab {
  width: 300px;
  height: 50px;
}

.product_Bar {
  display: flex !important;
}
.Autocomplete_allProducts {
  margin-right: 10px;
  min-width: 150px;
  padding: 1px 0px 0px 0px !important;
}
/* .product_Search input {
  padding: 8px 14px;
} */

.input_search_product input {
  padding: 0px 4px 1px 4px !important;
}
@media (max-width: 600px) {
  .tab {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .tab {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 961px) and (max-width: 1200px) {
  .tab {
    width: 33.33%;
    height: auto;
  }
}

@media (min-width: 1201px) {
  .tab {
    width: 25%;
    height: auto;
  }
}

.category_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
