@font-face {
    font-family: Gill-Bold-Italic;
    src:url(../assets/font/Gill\ Sans\ Bold\ Italic.otf);
  }
  @font-face {
    font-family: Gill-bold;
    src:url(../assets/font/Gill\ Sans\ Bold.otf);
  }
  @font-face {
    font-family: Gill-heavy-italic;
    src:url(../assets/font/Gill\ Sans\ Heavy\ Italic.otf);
  }
  @font-face {
    font-family: Gill-heavy;
    src:url(../assets/font/Gill\ Sans\ Heavy.otf);
  }
  @font-face {
    font-family: Gill-italic;
    src:url(../assets/font/Gill\ Sans\ Italic.otf);
  }
  @font-face {
    font-family: Gill-light-italic;
    src:url(../assets/font/Gill\ Sans\ Light\ Italic.otf);
  }
  @font-face {
    font-family: Gill-light;
    src:url(../assets/font/Gill\ Sans\ Light.otf);
  }
  @font-face {
    font-family: Gill-mediium-italic;
    src:url(../assets/font/Gill\ Sans\ Medium\ Italic.otf);
  }
  @font-face {
    font-family: Gill-medium;
    src:url(../assets/font/Gill\ Sans\ Medium.otf);
  }
  @font-face {
    font-family: Gill-Sans;
    src:url(../assets/font/Gill\ Sans.otf);
  }
  @font-face {
    font-family: Gill-condensed-bold;
    src:url(../assets/font/GillSans\ Condensed\ Bold.otf);
  }
  @font-face {
    font-family: Gill-condensed-condensed;
    src:url(../assets/font/GillSans\ Condensed.otf);
  }

 .left_box {
    font-family: Gill-medium;
    position: relative;
    left: 65px;
    top: 30px;
    width: 125%;

}

.mid_box{
    font-family: Gill-medium;
    position: relative;
    /* top: 50px; */
    width: 55%;
    padding-top: 50px;
}
.last_box  {
    font-family: Gill-medium;
    position: relative;
    right: 110px; 
    bottom: 50px;
}
.apollo_login_logo{
    text-align: center;
}

.login_form {
    padding: 1rem!important;
}
.submit_button{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background-color: #419794;
}

.box_shadow{
    border-radius: 10px;
    box-shadow: 0px 6px 8px 4px rgba(65, 151, 148, 0.35);

}
.forget_pasword{
    font-family: Gill-medium;
    color:#515050;
    font-weight: 700;
    text-decoration-line: underline;  
    text-decoration-color: #515050 !important;
}

.login_icon_user{
    height: 50px;
    width: 39px;
    position: relative;
    top: 27px;
    left: 15px;
    background: url(../assets/icons/userLogin.svg) no-repeat ;
}
.login_icon_key{
    height: 50px;
    width: 39px;
    position: absolute;
    top: 125px;
    left: 30px;
    background: url(../assets/icons/key.svg) no-repeat ;
}


@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1500px) 
{ 

    .left_box {
        font-family: Gill-medium;
        position: relative;
        left: 65px;
        top: 30px;
        width: 125%;
    
    }
    
    .mid_box{
        font-family: Gill-medium;
        position: relative;
        /* top: 50px; */
        width: 55%;
        padding-top: 50px;
    }
    .last_box  {
        font-family: Gill-medium;
        position: relative;
        right: 110px; 
        bottom: 50px;
    }
    .apollo_login_logo{
        text-align: center;
    }
    
    .login_form {
        padding: 1rem!important;
    }
    .submit_button{
        width: 100%;
        height: 50px;
        font-size: 17px;
        background-color: #419794;
    }
    
    .box_shadow{
        border-radius: 10px;
        box-shadow: 0px 6px 8px 4px rgba(65, 151, 148, 0.35);
    
    }
    .forget_pasword{
        font-family: Gill-medium;
        color:#515050;
        font-weight: 700;
        text-decoration-line: underline;  
        text-decoration-color: #515050 !important;
    }
    
    .login_icon_user{
        height: 50px;
        width: 39px;
        position: relative;
        top: 27px;
        left: 15px;
        background: url(../assets/icons/userLogin.svg) no-repeat ;
    }
    .login_icon_key{
        height: 50px;
        width: 39px;
        position: absolute;
        top: 125px;
        left: 30px;
        background: url(../assets/icons/key.svg) no-repeat ;
    }
    

    /* redirect page */

    .redirectPage{
      width: 500px;
      position: absolute;
      top: 250px;
      left: 450px;
      }
      .redirect_button{
        width: 80%;
        height: 50px;
        font-size: 17px;
        background-color: #419794;
      }
      
  }