.dash_board_pagination{
  display: flex;
  justify-content: center;
}
 /* tr{
 background-color:  #f5f6f8;
} */


@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1500px) 
{ 
  .dash_board_pagination{
    display: flex;
    justify-content: center;
  }

}