:root {
  --blue: #0025ff;
  --accentBlue: #109cf1;
  --lightBlue: #f7f9fb;
  --darkBlue: #334d6e;
  --white: #ffffff;
  --gray: #828282;
  --lighterGray: #c2c9d1;
  --gray2: #dddddd;
  --gray3: #bbbbbb;
  --gray4: #ebeff2;
  --headGray: #797878;
  --lightGray: #f5f6f8;
  --red: red;
  --shadow1: 0px 4px 4px rgba(16, 156, 241, 0.25);
  --shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --insetShadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
  --linearBlue: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #3e66fb;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gill", "Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error {
  color: var(--red);
}

.txt_blue {
  color: var(--blue);
}

.txt_acc_blue {
  color: var(--accentBlue);
}

.txt_gray {
  color: var(--gray);
}

.bg_light_gray {
  background-color: var(--lightGray);
}
.divider {
  padding: 3px;
  background: var(--gray4);
  box-shadow: var(--shadow1);
}

.page-container {
  /* padding: 10px 20px; */
  min-height: 100vh;
}

/* .login-container{
  width: 420px; 
} */

.login-main-container {
  margin: 5rem auto 0 auto;
  width: 420px;
}

.login-logo {
  position: absolute;
  left: 182px;
  top: 59px;
  width: 195px;
  height: 25px;
}

.login-concept-logo-container {
  margin: 80px 0 0 80px;
  width: 707px;
  height: 749px;
}

.login-logo-header {
  padding-bottom: 2rem;
}

.login-head {
  color: var(--blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 49.1px;
  margin: 0;
}

.login-container .sub-text {
  color: var(--blue);
}

.btn-login-google {
  width: 100%;
  border: 0.5px solid gray;
  color: var(--gray);
}

.login-form-fields {
  /* padding-top: 36px; */
}

.btn-blue {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-blue:hover {
  color: #fff;
  opacity: 0.8;
}

.not-registered {
  padding-top: 60px;
  color: var(--gray);
}

.font12 {
  font-size: 12px;
}

.font15 {
  font-size: 15px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font10 {
  font-size: 10px;
}

.f500 {
  font-weight: 500;
}

.bb_only {
  border-bottom: 1px solid var(--gray);
  border-top: unset;
  border-right: unset;
  border-left: unset;
}

.dashBoard {
  background-color: var(--lightGray);
  /* padding: 2.5rem; */
}

.catelog-search {
  box-shadow: var(--shadow1);
  background: var(--white);
  border-radius: 30px;
  padding: 15px 2.5rem;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-icons {
  background-color: var(--white);
  box-shadow: var(--shadow1);
  /* margin: 0px 5px; */
}

.btn-icons:focus {
  box-shadow: var(--shadow1);
}

.table-shadow {
  box-shadow: var(--shadow1);
  background-color: var(--white);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.catalog-list,
.table-stripe-white {
  background: var(--linearBlue);
  font-size: 13px;
  margin-bottom: 15px;
  max-height: 200px;
  overflow: auto;
}

.table-responsive {
  padding: 0;
}

.catalog-list thead tr,
.table-stripe-white thead tr {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    var(--lighterGray);
}

/* .catalog-list th,
.table-stripe-white th {
  padding: 10px 0;
} */

.catalog-list tbody > tr:nth-of-type(odd) > *,
.table-stripe-white tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--white);
}

.catelog-item .head {
  background-color: var(--white);
  box-shadow: var(--shadow2);
  padding: 5px;
  width: fit-content;
  font-weight: 800;
}

th,
td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  position: relative;
}

td{ 
  font-size: 14px;
  font-weight: 400;
}

.catelogTabContent {
  background-color: var(--white);
  box-shadow: var(--shadow2);
  padding: 8px;
  margin-top: -1px;
  border-radius: 0px 15px 15px 15px;
}

.tab-content {
  padding: 0;
}

.catelog-tabs .nav-link {
  border-radius: 0px;
}

.catelog-tabs .nav-link.active {
  border: none;
  background-color: var(--white);
  font-weight: 800;
  /* box-shadow: var(--shadow2); */
}

.br3 {
  border-radius: 0.5rem;
}

.upload-container {
  border-radius: 10px;
  overflow: hidden;
  margin: 25px 0 0;
  padding: 0;
  box-shadow: var(--shadow1);
}

.upload-container .btn-container {
  padding: 5px;
  background-color: var(--lightBlue);
  width: fit-content;
  border-radius: 40px;
  box-shadow: var(--insetShadow);
}

.btn-radius {
  border-radius: 25px;
}

.dashboard-side-filter .accordion-button::after {
  content: none;
}

.dashboard-side-filter .accordion-item {
  background-color: transparent;
  border: none;
}

.dashboard-side-filter .accordion-button {
  background-color: transparent;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
}

.dashboard-side-filter .accordion-button.collapsed {
  color:  var(--white);
}

.dashboard-side-filter .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

.dashboard-side-filter .accordion-button:not(.collapsed) {
  background-color: #d1d2d3;
    box-shadow: unset;
    color: #009996;
}

.dashBoard .heading {
  color: var(--headGray);
  font-weight: 600;
}

.list_style_circle {
  list-style-type: circle;
}

.list_style_none {
  list-style-type: none;
}


.list_style_circle li::marker {
  color: var(--accentBlue);
  font-weight: bold;
  font-size: 18px;
}

.list_style_circle li.activeSubtxt::marker {
  color: green;
}

.activeSubtxt {
  color:#fff;
  font-weight: bold;
}

.paginate-btn {
  border-radius: 4px;
  border: 1px solid var(--gray2);
  color: var(--gray);
  font-weight: 500;
}

.paginate-btn.active {
  color: var(--blue);
  background: var(--linearBlue);
}

.dropZone-container {
  display: flex;
  position: relative;
  border: 4px dashed var(--gray);
  border-radius: 15px;
}

.dropzone {
  display: flex;
  width: 100%;
  text-align: center;
  vertical-align: center;
  min-height: 300px;
}

.dropZone-container .files-list {
  position: absolute;
  left: 45%;
  bottom: 0px;
}

.min100vh {
  min-height: 100vh;
}

.min90vh {
  min-height: 90vh;
}

/* Permission Css Starts */
.parent-list {
  margin-top: 3rem;
  box-shadow: var(--shadow1);
  /* padding: 0 2.5rem 2.5rem; */
  border-radius: 4px;
}
.parent-list__heading {
  box-shadow: var(--insetShadow);
  display: flex;
  height: 51px;
  line-height: 4;
  border-radius: 8px;
}
.parent-list__heading .col-3 {
  text-align: center;
  font-weight: 600;
  color: #797878;
}
.parent-list__asign,
.each-member {
  padding: 1rem 2rem 0 2rem;
}
.each-member {
  padding: 1rem 2rem 0 2rem;
}
.each-member__name {
  margin: 0;
  font-size: 18px;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
.css-1s2u09g-control {
  box-shadow: var(--shadow2);
  border-radius: 8px;
  border: none;
}
.buttons-sec {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2rem;
  padding-bottom: 2rem;
}
.btn-cancel {
  color: #e20000;
  background-color: var(--white);
  border-color: #e20000;
  border-radius: 8px;
  width: 133px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
}
.btn-sub {
  color: #0ac13e;
  background-color: var(--white);
  border-color: #0ac13e;
  border-radius: 8px;
  width: 133px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}
.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  padding: 5px;
  background-color: var(--gray);
  border-radius: 50px;
}

td input[type="checkbox"],
th input[type="checkbox"] {
  margin-right: 18px;
  position: absolute;
  left: 18px;
  top: 11px;
}
th span,
td span {
  margin-left: 36px;
}
.pageLoader {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.position-rel {
  position: relative;
}
.btn-show-submit {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.head_flex {
  display: inline-flex;
  width: 100%;
}
.col-md-8.top_space {
  margin-top: 3.5rem;
}
.px-1.txt_gray.btn.btn-sm {
  margin-left: 12px;
  font-weight: bolder;
}

tbody:nth-child(even) {
  background-color: rgba(65, 151, 148, 0.28);
}

.dashboard-side-filter{
  margin-top: 30%;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
  color: #ffffff;
}