.borderRadius {
  border-radius: 6px;
}
.roundedCircle {
  border-radius: 100%;
}
.adarsh {
  color: red;
  font-size: 14px;
}
.menu_item {
  margin-left: 20px !important;
}

th,
td {
  text-align: center !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 200px !important;
  position: relative !important;
}
th {
  color: #419794 !important;
  font-weight: 600 !important;
}
.action_center {
  text-align: center !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 200px !important;
  position: relative !important;
}



.main_fullLayout{
  display: flex !important,
  minHeight: 100vh !important,
  overflow: hidden !important,
  width: 100% !important,
}