/* .main_fullLayout {
  display: flex;
  min-height: 100vh !important;
  overflow: hidden !important;
  width: 100% !important;
}

.pageWrapper_fullayout {
  display: flex! !important;
  flex: 1 1 auto !important;
  overflow: hidden !important;
  padding-top: 64px !important;
  background-color: #ffffff !important;
} */

.borderRadius {
  border-radius: 6px;
}
.roundedCircle {
  border-radius: 100%;
}
.adarsh {
  color: red;
  font-size: 14px;
}
.menu_item {
  margin-left: 20px !important;
}

th,
td {
  text-align: center !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 200px !important;
  position: relative !important;
}
th {
  color: #419794 !important;
  font-weight: 600 !important;
}
.action_center {
  text-align: center !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 200px !important;
  position: relative !important;
  padding: 10px;
}

.calender_blk {
  position: absolute;
  right: 15px;
  top: 6px;
}

.calender_blk_p {
  position: absolute !important;
  right: 22px !important;
  top: 6px !important;
}

.dropZone-container {
  display: flex !important;
  position: relative !important;
  border: 17px dashed grey !important;
  border-radius: 15px !important;
  height: 150px;
  margin-top: 20px;
  clip-path: inset(15px round 10px 10px 10px 10px);
}

.bulk_upload_style .dropZone-container .dropzone {
  display: flex;
  width: 100%;
  text-align: center;
  vertical-align: center;
  min-height: 117px;
  background-color: rgba(195, 218, 217, 0.69);
}

.dropzone {
  width: 100%;
}

.upload_blk {
  top: 60px;
  position: relative;
  display: table;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
