.attribute_pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main_title {
  font-size: 20px;
  font-weight: bold !important;
  color: #399996;
  width: 25%;
  border-bottom: 2px solid #ffcf76;
}
.main_Details_title {
  font-size: 20px;
  font-weight: bold !important;
  color: #399996;
  width: 35%;
  border-bottom: 2px solid #ffcf76;
}
.addButton {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.add_title {
  font-size: 20px;
  font-weight: bold;
  color: #399996;
  width: 50% !important;
  border-bottom: 2px solid #ffcf76;
  margin-bottom: 16px;
}

.div_Actions {
  display: flex;
  justify-content: center;
}

.category_btn_add_btn {
  display: flex;
  align-items: baseline;
}

.add_dropDownBtn {
  margin-left: 10px;
}

.selectCategory_dropdown_Att {
  min-width: 120px !important;
  padding: 1px 19px 0px 0px;
}
